.firstSectionContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--tertiary-background);
  padding: 7% 0% 0% 5%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mainHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
  padding-bottom: 5%;
}

.firstSectionContainer .right {
  flex: 1;
  position: relative;
}
.mainParagraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  width: 100%;
  margin-top: 20px;
}

.firstSectionContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -30px;
  object-fit: contain;
}

.bubble {
  animation: bubbleAnimation 5s;
}

@keyframes bubbleAnimation {
  from {
    right: -500px;
  }
  to {
    right: -30px;
  }
}

@media screen and (max-width: 834px) {
  .firstSectionContainer {
    flex-direction: column;
    padding: 7% 0% 0% 2.5%;
  }
  .mainHeading {
    font-size: 50px;
    line-height: 60px;
    width: 80%;
  }

  .mainParagraph {
    font-size: 24px;
    line-height: 29px;
    width: 62%;
  }


  .firstSectionContainer img {
    width: 500px;
    height: 382px;
    right: -120px;
  }

  .bubble {
    animation: bubbleAnimationMobile 5s;
  }

  @keyframes bubbleAnimationMobile {
    from {
      right: -500px;
    }
    to {
      right: -100px;
    }
  }
}

@media screen and (max-width: 450px) {
  .firstSectionContainer {
    flex-direction: column;
    padding: 7% 2% 0% 2.5%;
    min-height: 126vh;
  }
  .mainHeading {
    width: 95%;
    font-size: 36px;
    line-height: 40px;
  }

  .mainParagraph {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }


  .firstSectionContainer img {
    /* width: 450px;
    height: 262px; */
    right: -100px;
  }

  .bubble {
    animation: bubbleAnimationMobile 5s;
  }

  @keyframes bubbleAnimationMobile {
    from {
      right: -450px;
    }
    to {
      right: -100px;
    }
  }
}
