.cta {
  background-color: var(--primary-background);
  width: fit-content;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 6.5rem;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.cta:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .cta {
    font-size: 2rem;
    padding: 0px 3rem;
  }
}

@media screen and (max-width: 540px) {
  .cta {
    font-size: 1.6rem;
    padding: 0px 3rem;
  }
}
