.container {
  min-height: 50vh;
  width: 100%;
  background-color: var(--tertiary-background);
  padding: 5% 8%;
}

.mainParagraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #f4f4f2;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.row div {
  width: 33%;
  margin-top: 7rem;
}
.row h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #f4f4f4;
  word-wrap: break-word;
}

@media screen and (max-width: 540px) {
  .mainParagraph {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .row {
    flex-direction: column;
  }
  .row div {
    width: 100%;
    margin-top: 1.5rem;
  }
  .row h1 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
}
