.row {
  margin-top: 10rem;
  width: 100%;
  min-height: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10rem;
}

@media screen and (max-width: 450px) {
  .row {
    flex-direction: column;
  }
  .row div {
    margin-top: 5rem;
  }
  .buttonContainer {
    flex-direction: column;
  }
}
