.footerContainer {
  width: 100%;
  min-height: 45rem;
  padding: 5% 5% 4% 5%;
  background-color: var(--background);
}
.innnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.innnerContainer .left {
  flex: 1;
}
.innnerContainer .right,
.innnerContainer .center {
  flex: 2;
}

.innnerContainer .center {
  padding-left: 10%;
}

.innnerContainer .left h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #f4f4f2;
  margin-top: 2.2rem;
}

.innnerContainer .left p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  color: #f4f4f2;
}

.mobileNav {
  display: none;
}
.nav {
  width: 100%;
  height: 100%;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #f4f4f2;
  margin: 1rem 0px;
  cursor: pointer;
}

.nav ul li:hover {
  opacity: 0.6;
}

.contactItem:nth-child(1) {
  margin-top: 0px;
}
.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}
.contactItem img {
  width: 4rem;
  height: 4rem;
}

.contactItem h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 4rem;
  color: #f4f4f2;
  margin-left: 2.2rem;
}

.contactItem h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.7rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-left: 2.2rem;
}

.copywrite {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #f4f4f2;
  margin-top: 8rem;
}

@media screen and (max-width: 834px) {
  .nav ul li {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .innnerContainer .left h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .innnerContainer .left p {
    font-size: 1.3rem;
  }

  .contactItem {
    margin-top: 1.5rem;
  }

  .contactItem h1 {
    font-size: 1.1rem;
    line-height: 4rem;
  }
  .contactItem h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .contactItem img {
    width: 3rem;
    height: 3rem;
  }
  .copywrite {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .innnerContainer {
    flex-direction: column;
  }
  .left,
  .right {
    padding: 5%;
  }

  .innnerContainer .center {
    display: none;
  }

  .mobileNav {
    display: block;
    flex: 1;
    padding: 5%;
  }
}
