.thirdSectionContainer {
  width: 100%;
  min-height: 170vh;
  background: #cea5ad;
  padding: 5%;
  background-image: url("../../../assets/home/mike.svg");
  background-repeat: no-repeat;
  background-position: 0px 180px;
}

.mainHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.companies {
  margin-top: 36px;
}
.companies img {
  margin: 0px 14px;
}

.slider{
  width:240px;
  height: 8px;
  margin-top: 33px;
}