.thirdSectionContainer {
  width: 100%;
  min-height: 160vh;
  background: #cea5ad;
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.mainHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.companies {
  margin-top: 36px;
  height: 25vh;
}
.companies img {
  height: 100%;
  margin: 0px 14px;
}

.slider {
  width: 240px;
  height: 8px;
  margin-top: 33px;
}

.sound {
  position: absolute;
  top: 10%;
  right: 2%;
  transform: rotate(10deg);

}

.mobileSoundSvg {
  display: none;
  position: absolute;
  top: 25%;
  right: 1%;
  transform: rotate(-20deg);
}

@media screen and (max-width: 834px) {
  .thirdSectionContainer {
    min-height: 100vh;
  }
  .mainHeading {
    font-size: 50px;
    line-height: 60px;
  }

  .companies {
    margin-top: 36px;
    height: 17vh;
  }

  .mobileSoundSvg {
    display: block;
  }
  .sound {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .mainHeading {
    font-size: 36px;
    line-height: 40px;
  }

  .companies {
    margin-top: 36px;
    height: 10vh;
  }

  .mobileSoundSvg {
    transform: rotate(5deg);
  }
}
