.thirdSectionContainer {
  width: 100%;
  min-height: 100rem;
  background: #cea5ad;
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.mainHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 6.5rem;
  line-height: 8rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.companies {
  margin-top: 3.6rem;
  height: auto;
}
.companies img {
  height: 100% !important;
  width: auto !important;
  /* object-fit: cover; */
  margin: 0px 1.4rem;
}

.slider {
  width: 24rem;
  height: 0.8rem;
  margin-top: 3.3rem;
}

.sound {
  position: absolute;
  top: 13%;
  right: 1%;
  transform: rotate(5deg);
}

.mobileSoundSvg {
  display: none;
  position: absolute;
  top: 16%;
  right: 0%;
  transform: rotate(-16deg);
}

@media screen and (max-width: 900px) {
  .thirdSectionContainer {
    min-height: 75rem;
  }
  .mainHeading {
    font-size: 5rem;
    line-height: 6rem;
  }

  .companies {
    margin-top: 3.6rem;
    /* height: 12rem; */
  }

  .mobileSoundSvg {
    display: block;
  }
  .sound {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .thirdSectionContainer {
    min-height: 60rem;
  }
  .mainHeading {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  .companies {
    margin-top: 3.6rem;
    /* height: 10vh; */
  }

  .mobileSoundSvg {
    top: 25%;
    transform: rotate(5deg);
  }
}
