.container {
  width: 100%;
  min-height: 90vh;
  padding: 4% 8%;
  background-color: #cea5ad;
}

.mainHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 5.4rem;
  line-height: 8rem;
  color: var(--primary-color);
}

.mainParagraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 4rem;
  color: #000000;
  margin-top: 3rem;
}

.note {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 4rem;
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .mainHeading {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .mainParagraph {
    font-size: 2.4rem;
    line-height: 4rem;
  }
  .note {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 540px) {
  .mainHeading {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .mainParagraph {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .note {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
